framework/src/main/resources/META-INF/spring-service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns="http://www.happyonroad.net/schema/service"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.happyonroad.net/schema/service"
        attributeFormDefault="unqualified" elementFormDefault="qualified">

    <xsd:element name="service" type="serviceType"/>
    <xsd:element name="import" type="importType"/>
    <xsd:element name="export" type="exportType"/>

    <xsd:complexType name="serviceType">
        <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="export"/>
                <xsd:element ref="import"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="importType">
        <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element type="xsd:string" name="role"/>
                <xsd:element type="xsd:string" name="as"/>
                <xsd:element type="xsd:string" name="hint"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="exportType">
        <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element type="xsd:string" name="role"/>
                <xsd:element type="xsd:string" name="ref"/>
                <xsd:element type="xsd:string" name="hint"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
